* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* MAIN  */
main {
  width: 100vw;
  height: calc(100vh - 10vh);
  display: flex;
}

/* MAIN-ASIDE */
aside {
  width: 13vw;
  height: 100%;
  background-color: black;
}

/* MAIN-SECTION */

section {
  width: calc(100% - 13vw);
  height: 100%;
  background-color: rgb(20, 25, 34);
}

/* FOOTER  */

footer {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-left img {
    margin-left: 10px;
    width: 35px;
}

.footer-left-song{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 11px;
}

#song-title{
    color: white;
    font-weight: 700;
}

#song-artist{
    color: rgb(130, 130, 130);
    font-size: 10px;
    
}

.fa-folder{
    color: rgb(130, 130, 130);
}
.fa-heart{
    margin-right: 5px;
    margin-left: 15px;
    color: rgb(130, 130, 130);
}

.footer-central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: white;
}


.footer-central-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}



.footer-central-time{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.time-bar{
    width: 500px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(90, 90, 90);
}


/* debug class */
.bg {
  background-color: red;
  height: 10px;
  width: 10px;
  position: relative;
}
