* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

section {
  background: rgb(100, 100, 100);
  background: linear-gradient(
    180deg,
    rgba(100, 100, 100, 0.01) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.album {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}

.album img {
  width: 20%;
}

.album-info {
  margin-left: 20px;

  align-self: flex-end;
}

.album-info img {
  width: 4%;
  border-radius: 50%;
}

.artist-album {
  font-size: 12px;
  color: white;
  display: flex;
  gap: 3px;
  align-items: center;
  
}

.artist-album a {
  color: white;
  font-size: 12px;
  font-weight: 600;
  
}
.type-content {
  color: white;
  font-size: 16px;
}

.album-title {
  font-size: 80px;
  font-weight: 700;
  color: white;
}

.album-button {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.album-button img {
  width: 60px;
}

.album-button i {
  font-size: 30px;
}

.album-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(130, 130, 130);
}

.ex-row{
    width: 90%;
    position: relative;
    margin-left: 40px;
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
    gap: 20px;
    color: rgb(178, 178, 178);
    border-bottom: 1px solid rgb(156, 156, 156);
}

.clock{
    position: absolute;
    top: 0;
    right: 10px;
    color: rgb(178, 178, 178);
    
}

