* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* MAIN  */
main {
  width: 100vw;
  height: calc(100vh - 10vh);
  display: flex;
}

/* MAIN-ASIDE */
aside {
  width: 12vw;
  height: 100%;
  background-color: black;
  color: rgb(112, 112, 112);
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

aside > img {
  width: 60%;
  margin-bottom: 15px;
}
aside > div > div > img {
  width: 20px;
  text-align: center;
}

.aside-menu {
  font-size: 11px;
  margin-bottom: 10px;
}

.aside-menu-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  margin-bottom: 8px;
}

.aside-playlist{
  overflow-y: auto;
}

.left-active {
  border-left: 2px solid rgb(178 255 57);
  margin-left: -10px;
  padding-left: 10px;
}
.left-active div {
  color: white;
}

.aside-menu-align img {
  color: rgb(163 163 163);
}

#playlist {
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 5px;
  color: white;
}
#crea-playlist {
  font-size: 12px;
}
.fa-plus {
  width: 25px;
  height: 25px;
  background-color: rgb(163, 163, 163);
  text-align: center;
  line-height: 25px;
  color: black;
}

.menu-creazione {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 15px;
}
aside ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 11px;
}

.bottom-menu {
  position: fixed;
  bottom: 11vh;
  
  
}

.install {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-size: 11px;
}

.install img {
  width: 10px;
}

aside hr {
  width: 10vw;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 0.5px solid rgb(163 163 163);
}

.user-profile{
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-profile img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
}

.user-profile div{
  font-size: 11px;
  color: white;
  font-weight: 700;

}

/* MAIN-SECTION */

section {
  width: calc(100% - 12vw);
  height: 100%;
  background-color: rgb(20, 25, 34);
}

.upgrade{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  

}
.upgrade-button{
  margin-right: 5px;
  color: white;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 11px;
  text-align: center;
}

section ul{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;

}

section ul li{
  color: rgb(112, 112, 112);
  list-style-type: none;
  
}


.menu-active::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 40%;
  transform: translate(-50%);
  border-top: 2px solid rgb(187, 244, 87);
  margin-top: 1px;
}

/* FOOTER  */

footer {
  width: 100vw;
  height: 56.3px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-left img {
  margin-left: 10px;
  width: 35px;
}

.footer-left-song {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 11px;
}

#song-title {
  color: white;
  font-weight: 700;
}

#song-artist {
  color: rgb(130, 130, 130);
  font-size: 10px;
}

.fa-folder {
  color: rgb(130, 130, 130);
}
.fa-heart {
  margin-right: 5px;
  margin-left: 15px;
  color: rgb(130, 130, 130);
}

.footer-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: white;
}

.footer-central-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 24px;
}

.footer-central-time {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.time-bar {
  width: 500px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(90, 90, 90);
  display: flex;
}

.bar-over {
  width: 25%;
  height: 100%;
  border-radius: 2px;
  background-color: rgb(193, 193, 193);
}

.footer-right {
  color: white;
  display: flex;
  gap: 8px;
  margin-right: 10px;
}

.volume-bar {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(90, 90, 90);
}

.circle1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -3px;
  left: -4px;
  display: none;
}

.circle2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -7px;
  left: 6px;
  display: none;
}

.time-bar:hover .circle1,
.volume-bar:hover .circle2 {
  display: block;
}

.time-bar:hover .bar-over,
.volume-bar:hover .bar-over {
  background-color: rgb(187, 244, 87);
}

.time-bar:hover,
.volume-bar:hover {
  cursor: pointer;
}

/* footer hover section  */

#song-artist:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.fa-heart:hover,
.fa-folder:hover,
.fa-shuffle:hover,
.fa-backward-step:hover,
.fa-list:hover,
.fa-solid:hover,
.fa-volume-high {
  cursor: pointer;
}

.fa-circle-play:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.time-bar:hover {
}

/* debug class */
.bg {
  background-color: red;
  height: 10px;
  width: 10px;
  position: relative;
}

.rotate-180{
  transform: rotate(180deg);
}
