* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html{
  min-width: 514px;
} */

/* MAIN  */
main {
  width: 100vw;
  display: flex;
}

/* MAIN-ASIDE */
aside {
  width: 150px;
  height: 100%;
  background-color: black;
  color: rgb(112, 112, 112);
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  /* min-width: 12vw; */
}

aside > img {
  width: 60%;
  margin-bottom: 15px;
}
aside > div > div > img {
  width: 20px;
  text-align: center;
}

.aside-menu {
  font-size: 11px;
  margin-bottom: 10px;
}

.aside-menu-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  margin-bottom: 8px;
}

.aside-playlist {
  overflow-y: auto;
}

.left-active {
  border-left: 2px solid rgb(178 255 57);
  margin-left: -10px;
  padding-left: 10px;
}
.left-active div {
  color: white;
}

.aside-menu-align img {
  color: rgb(163 163 163);
}

#playlist {
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 5px;
  color: white;
}
#crea-playlist {
  font-size: 12px;
}
.fa-plus {
  width: 25px;
  height: 25px;
  background-color: rgb(163, 163, 163);
  text-align: center;
  line-height: 25px;
  color: black;
}

.menu-creazione .fa-solid {
  line-height: 25px;
}

.menu-creazione {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 15px;
}
aside ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 11px;
}

.bottom-menu {
  position: fixed;
  bottom: 60px;
}

.install {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-size: 11px;
}

.install img {
  width: 10px;
}

aside hr {
  width: 130px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 0.5px solid rgb(163 163 163);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-profile img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
}

.user-profile div {
  font-size: 11px;
  color: white;
  font-weight: 700;
}

.logo-hidden {
  width: 20px;
  filter: invert(100%);
  display: none;
}

.aside-menu-align:hover {
  color: white;
  cursor: pointer;
}

.fa-plus:hover {
  background-color: white;
  cursor: pointer;
}
#crea-playlist:hover {
  color: white;
  cursor: pointer;
}

.aside-playlist li:hover {
  color: white;
  cursor: pointer;
}

.install:hover {
  cursor: pointer;
  color: white;
}

/* MAIN-SECTION */

section {
  width: calc(100% - 150px);
  height: calc(100vh - 57px);
  background-color: rgb(20, 25, 34);
  margin-left: 150px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(44, 53, 70);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 244, 87);
  border-radius: 10px;
}

.upgrade {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upgrade-button {
  margin-right: 10px;
  color: white;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 11px;
  text-align: center;
}

section ul {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

section ul li {
  color: rgb(112, 112, 112);
  list-style-type: none;
  position: relative;
}

section ul li:hover {
  cursor: pointer;
  color: white;
}

.upgrade-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu-active::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 40%;
  transform: translate(-50%);
  border-top: 2px solid rgb(187, 244, 87);
  margin-top: 1px;
}

.main-song-section {
  width: 100%;
  margin-bottom: 30px;
}

.section-title {
  margin-top: 20px;
  padding-left: 10px;
  color: white;
  font-weight: 700;
}

.section-title-sub {
  margin-top: 5px;
  padding-left: 10px;
  color: rgb(112, 112, 112);
  font-size: 10px;
  font-weight: 700;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}

.item {
  width: calc((100% - 75px) / 6);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 28, 36);
  padding: 10px;
  border-radius: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-radius img {
  border-radius: 50%;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.artist {
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  color: rgb(112, 112, 112);
  font-weight: 600;
}

.img-container {
  width: 100%;
  position: relative;
}
.img-over {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  opacity: 0;
}

.spotify-button {
  width: 40px !important;
  height: auto !important;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}

a{
  text-decoration: none;
}

.img-container:hover .img-over {
  cursor: pointer;
  opacity: 1;
}

.item-radius .img-container:hover .img-over {
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
}

.item:hover {
  background-color: rgb(44, 53, 70);
  cursor: pointer;
  transition: 0.5s;
}

.item:hover .spotify-button {
  opacity: 1;
  transition: 0.5s;
}

/* FOOTER  */

footer {
  width: 100vw;
  height: 57px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-left img {
  margin-left: 10px;
  width: 35px;
}

.footer-left-song {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 11px;
}

#song-title {
  color: white;
  font-weight: 700;
}

#song-artist {
  color: rgb(130, 130, 130);
  font-size: 10px;
}

.fa-folder {
  color: rgb(130, 130, 130);
  font-size: 12px;
}
.fa-heart {
  font-size: 12px;
  color: rgb(130, 130, 130);
}

.double-icon {
  display: flex;
  gap: 10px;
  margin-left: 25px;
}

.aside-menu {
  display: flex;
  flex-direction: column;
}

.footer-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: white;
}

.footer-central-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 24px;
}

.footer-central-time {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.time-bar {
  width: 39vw;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(90, 90, 90);
  display: flex;
}

.bar-over {
  width: 25%;
  height: 100%;
  border-radius: 2px;
  background-color: rgb(193, 193, 193);
}

.footer-right {
  color: white;
  display: flex;
  gap: 8px;
  margin-right: 10px;
}

.volume-bar {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(90, 90, 90);
}

.circle1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -3px;
  left: -4px;
  display: none;
}

.circle2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -7px;
  left: 6px;
  display: none;
}

.time-bar:hover .circle1,
.volume-bar:hover .circle2 {
  display: block;
}

.time-bar:hover .bar-over,
.volume-bar:hover .bar-over {
  background-color: rgb(187, 244, 87);
}

.time-bar:hover,
.volume-bar:hover {
  cursor: pointer;
}

/* footer hover section  */

#song-artist:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.fa-heart:hover,
.fa-folder:hover,
.fa-shuffle:hover,
.fa-backward-step:hover,
.fa-list:hover,
.fa-solid:hover,
.fa-volume-high {
  cursor: pointer;
}

.fa-circle-play:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* debug class */
.bg {
  background-color: red;
  height: 10px;
  width: 10px;
  position: relative;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* query md  */
@media screen and (max-width: 992px) {
  .row {
    flex-wrap: wrap;
  }

  .item {
    width: calc((100% - 40px) / 4);
    flex-wrap: wrap;
  }

  .double-icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* query s  */
@media screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .item {
    width: calc((100% - 30px) / 2);
    flex-wrap: wrap;
  }

  .double-icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 5px;
  }

  section ul {
    flex-wrap: wrap;
  }
}

/* query xs */
@media screen and (max-width: 576px) {
  .logo-visible {
    display: none;
  }

  .logo-hidden {
    display: block;
  }

  .aside-menu-align div {
    display: none;
  }
  .aside-playlist {
    display: none;
  }
  .install div {
    display: none;
  }
  .bottom-menu hr {
    display: none;
  }

  .user-profile div {
    display: none;
  }

  .left-active {
    border-left: 0;
  }

  aside {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 20px;
  }

  section {
    margin-left: 30px;
    width: calc(100% - 30px);
  }

  .install img {
    margin-left: -1.5px;
  }
}

@media screen and (max-height: 400px) {
  .bottom-menu {
    position: relative;
  }
}
